
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

body {
  font-family: Roboto, sans-serif;
}
header,
main,
footer {
  max-width: 1000px;
  margin: 1rem auto;
  border: 1px solid #ccc;
  padding: 1rem;
  background-color: lightblue;
}
h1 {
    text-align: center;
}
section {
  padding: 20px;
  background-color: white;
  margin: 1em;
  border: 1px solid #ccc;
}
nav a {
    padding: 20px;
    color: black;
    display: none;
}
nav a:hover {
    text-decoration: none;
    color: #616061;
}
.menu-btn {
    cursor: pointer;
    border: none;
    background-color: transparent;
}
.bar1, .bar2, .bar3 {
    width: 30px;
    height: 4px;
    background-color: black;
    margin: 5px 0;
}

.open .link{
    display: block;
}

.open .bar1 {
  transform: translate(0, 8px) rotate(-45deg);
}
.open .bar2 {opacity: 0;}

.open .bar3 {
  transform: translate(0, -11px) rotate(45deg);
}
          

footer {
    text-align: center;
}
          

@media screen and (min-width: 700px) {
    .menu-btn{
        display: none;
    }
    nav{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        justify-items: flex-end;
    }
    nav a{
        display: inline;
    }
    main{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    section{
        min-width: 25%;
    }
}

@media screen and (min-width: 1024px) {
    .menu-btn{
        display: none;
    }
    nav{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        justify-items: flex-end;
    }
    nav a{
        display: inline;
    }
    main{
        display: flex;
    }
    section{
        min-width: 25%;
    }
}
          