body{
    background-color: rgba(54, 88, 244, 0.822);
    margin: 0;
    text-align: center;
}

header{
    font-size: xx-large;
    margin: 15px;
}

nav{
    display: none;
    margin-bottom: 10px;
}

nav a{
    color: white;
    margin: 0 15px;
}

.menu-btn {
    cursor: pointer;
    border: none;
    background-color: transparent;
    font-size: large;
    padding-bottom: 10px;
    
    color: white;
}

.open{
    display: grid;
    text-align: center;
}

.open a{
    margin: 5px;
}

#substance{
    background-color: gray;
}

h1{
    margin: 0;
    padding: 15px 0px;
}

#imgs{
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
    margin: auto;

}

#imgs img{
    object-fit: cover;
    margin: 15px;
    border: 5px solid white;
    box-shadow: 5px 5px 10px #6f7364;
    max-width: 250px;
    max-height: 300px;

    grid-column: auto;
}

dialog img {
    width: 90%;
    display: block;
    margin: 20vh auto;
}
dialog {
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.75);
}
.close-viewer {
    position: absolute;
    top: 10vh;
    right: 2vh;
    padding: 3px 6px;
    font-size: 1.5em;
}

footer{
    color: white;
    margin: 10px;
}


@media screen and (min-width: 700px) {
    #imgs{
        display: grid;
        grid-template-columns: 1fr 1fr;
        place-items: center;

        max-width: 700px;
    }
    img{
        grid-column: auto;
    }
}

@media screen  and (min-width: 1000px){
    nav{
        display: block;
    }
    .menu-btn{
        display: none;
    }
    #imgs{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        max-width: 1000px;
    }
    img{
        grid-column: auto;
    }
}