
:root{
    --primary-color : rgb(16, 70, 163);
}


body{
    background-color: rgb(173, 173, 173);
    justify-items: center;
}

h1{
    padding-top: 40px;
}

h1 + p{
    color: var(--primary-color) 
}

hr{
    background-color: var(--primary-color);
    border-color: var(--primary-color);
    max-width: 750px;
}

/* img{

} */

#content{
    text-align: center;
    border: 1px solid rgb(109, 109, 109);
    margin: 15px;
}

#topics{
    max-width: 400px;
    margin: 0 auto;
}

.list{
    list-style-type: none;
    margin: 10px;
}

